
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Calendar";
}

<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>

<h2>Calendar</h2>

<body>
    <img src="~/Content/Images/calendar.png" align="middle" width="1100" height="600">
</body>


