@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Select Your Game piece Page *@
    ViewBag.Title = "Market";
}

<!--title-->
<div>
    <div id="ct">
        <div class="corner " id="left_top"></div>
        <div class="corner" id="left_bottom"></div>
        <div class="corner" id="right_top"></div>
        <div class="corner" id="right_bottom"></div>
        <span>Market</span>
        <blockquote>
            <p>
                <i>
                    &ldquo;Welcome to Market.
                    Purchase what you want by using your coins to make your building process speed up.&rdquo;
                </i>
            </p>
        </blockquote>
    </div>

</div>

<!--pictures-->
<div style="margin-top:-40px;">
    <div class="row">
        <div class="col-md-4">
            <div class="hovereffect">
                <img class="img-responsive" src='~/Content/Images/WorldTour/junior.png' alt="worker1">
                <div class="overlay">                   
                    <a class="info" href="#">Buy</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hovereffect">
                <img class="img-responsive" src='~/Content/Images/WorldTour/senior.png' alt="worker2">
                <div class="overlay">
                    <a class="info" href="#">Buy</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hovereffect">
                <img class="img-responsive" src='~/Content/Images/WorldTour/expert.png' alt="worker3">
                <div class="overlay">
                    <a class="info" href="#">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <div class="hovereffect">
            <img class="img-responsive" src='~/Content/Images/WorldTour/low end.png' alt="machine1">
            <div class="overlay">
                <a class="info" href="#">Buy</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="hovereffect">
            <img class="img-responsive" src='~/Content/Images/WorldTour/mid-end.png' alt="machine2">
            <div class="overlay">
                <a class="info" href="#">Buy</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="hovereffect">
            <img class="img-responsive" src='~/Content/Images/WorldTour/high-end.png' alt="machine3">
            <div class="overlay">
                <a class="info" href="#">Buy</a>
            </div>
        </div>
    </div>

    
</div>

<div class="coin_message">
    <img src='~/Content/Images/WorldTour/coin message copy.png'>
</div>

<!--style for pictures-->
<style>

    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

        .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
        }

        .hovereffect:hover img {
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
            filter: grayscale(1) blur(3px);
            -webkit-filter: grayscale(1) blur(3px);
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hovereffect h2 {
            text-transform: uppercase;
            text-align: center;
            position: relative;
            font-size: 17px;
            padding: 40px;
            background: rgba(0, 0, 0, 0.6);
            margin-top: 100px;
        }

        .hovereffect a.info {
            display: inline-block;
            text-decoration: none;
            padding: 7px 14px;
            border: 1px solid #fff;
            margin: 50px 0 0 0;
            background-color: transparent;
        }

            .hovereffect a.info:hover {
                box-shadow: 0 0 5px #fff;
            }

        .hovereffect a.info, .hovereffect h2 {
            -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
            transform: scale(0.7);
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
            opacity: 0;
            filter: alpha(opacity=0);
            color: #fff;
            text-transform: uppercase;
        }

        .hovereffect:hover a.info, .hovereffect:hover h2 {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

        .coin_message {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 20px;
        }
</style>

<!--style for titles-->
<style>
    #ct {
        height: 150px;
        width: 590px;
        border: 1px solid #f1c40f;
        margin: 180px auto;
        text-align: center;
        position: relative;
        color: white;
        padding: 15px;
        background: #f8632f;
    }

    span {
        color: #f1c40f;
        padding: 0 10px;
        font-size: 50px;
        position: relative;
        top: -90px;
        font-weight: bold;
    }

    .corner {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        transform: rotate(-45deg);
        position: absolute;
        background: white;
    }

    #left_top {
        top: -16px;
        left: -16px;
        border-color: transparent transparent #f1c40f transparent;
    }

    #right_top {
        top: -16px;
        right: -16px;
        border-color: transparent transparent transparent #f1c40f;
    }

    #left_bottom {
        bottom: -16px;
        left: -16px;
        border-color: transparent #f1c40f transparent transparent;
    }

    #right_bottom {
        bottom: -16px;
        right: -16px;
        border-color: #f1c40f transparent transparent transparent;
    }

    blockquote p {
        font-size: 25px;
        font-weight: 300;
        line-height: 1.25;
    }

    blockquote {
        padding: 0px;
        margin: -32px 0 0 0;
        border-left: 5px solid white;
    }

 
</style>