@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Select Your Game piece Page *@
    ViewBag.Title = "CoinBank";
}


@* Margin and Padding Style *@
<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        height: 500px;
        margin-top: -250px; /* Half the height */
        margin-left: -250px; /* Half the width */
    }
</style>


@* Display The World Tour Title *@
<h1>World Tour</h1>


@* Display Select Gamepiece Page *@
<h2>CoinBank</h2>


@* World Tour Select Gamepiece image *@
<img class="img-fluid" src="~/Content/Images/WorldTour/CoinBank.png" style="max-width:100%;height:auto;" alt="World Tour">

