
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<link rel="stylesheet" type="text/css"
      　　　　media="screen and (max-device-width: 400px)"
      　　　　href="tinyScreen.css" />


<section>
    <div class="img_Container">
        <img src="~/Content/Images/Student Dashboard/welcome board final.png" align="middle" width="1100" height="180">
    </div>
</section>

<section>
    <div class="img_Container">
        <img src="~/Content/Images/Student Dashboard/game dashboard final.png" align="middle" width="1100" height="400">
    </div>
</section>

<section>
    <div class="img_Container">
        <img src="~/Content/Images/Student Dashboard/attendance record dashboard final.png" align="middle" width="1100" height="400">
    </div>
</section>


<style>
    /*body*/
    body {
        margin-bottom: 20px;
        padding: 30px;
        margin: 30px;
    }



    /*section*/
    section {
        /*margin-top: 20px;
        margin-bottom: 10px;*/
        padding: 20px;
    }


    /*img_Container*/
    img_Container {
        margin-top: 100px;
        margin-bottom: 100px;
        margin: auto;
        align-content: center;
    }
</style>
