
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>

<h2>Dashboard</h2>

<p>Here will be many blocks here which lead user into specified funtion like profile, game etc.</p>

