
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>

<section>

    <div>
        <h1></h1>
        <img src="~/Content/Images/welcome board 1100-2 copy.png" align="middle" width="1100" height="180">
    </div>


</section> 

