@* Landing Page for the Game World Tour *@

@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Instruction Page *@
    ViewBag.Title = "Game";
}


@* CSS Stylesheet *@
<style type="text/css">


    /* Borderless page style */
    hr {
        border: none;
    }

    /* Places image as background photo */
    #ibg {
        position: fixed;
        top: 50px;
        left: 0;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
    }

    /* Container holding the image and the text */
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    /* Centered text */
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } 

</style>


@* Floating Text Area for World Tour Instructions*@
<div class="container">
    <img src="~/Content/Images/WorldTour/InstructionsBackground.png" id="ibg" alt="World Tour" usemap="#Instructions">
    <div class="centered">
        <h1>World Tour</h1>
        <h1>Instructions</h1>
        <p> To Play the Game:</p>
    </div>
</div>

