@* game process of each student *@

@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "GameInfo";
}

<style>
    section {
        width: 66%;
        float: left;
    }

    aside {
        top: 20px;
        width: 32%;
        float: left;
    }
</style>

<aside>
    <div>
        <img src="~/Content/Images/game info/student.png" width="200" height="200" />
    </div>
    <div>

    </div>
</aside>

<section>

</section>




