
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Game";
}

<h2>Game</h2>

@* Landing Page for the Game World Tour *@

@{

    @* Using a shared layout for the Game *@

    Layout = "~/Views/Shared/_GameLayout.cshtml";

    @* Game Instruction Page *@

    ViewBag.Title = "Game";

}





@* Margin and Padding Style *@

<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }
</style>





@* Display The World Tour Title *@

<h1>World Tour</h1>





@* Display Instructions to play the game *@

<h2>Instructions</h2>


@* World Tour Instructions image *@
<img class="img-fluid" src="~/Content/Images/Instructions.png" alt="World Tour">

