@**** Added by Vic Thrusday 5/24 to call from Model ****@
@model TeamProject.Models.StudentViews
@**** Added by Vic Thrusday 5/24 to call from Model ****@





@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Instruction Page *@
    ViewBag.Title = "Play";
}


@* Margin and Padding Style *@
<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }
</style>


@* Display The World Tour Title *@
<h1>World Tour</h1>


@* Play the game *@
<h2>Play</h2>


@* World Tour Instructions image *@
<!DOCTYPE html>
<html>
<body>
    <img src="~/Content/Images/WorldTour/Seattle.png" style="max-width:100%;height:auto;" alt="World Tour" usemap="#Seattle">
    <map name="Seattle">
        <area shape="rect" coords="370, 190, 640, 245" href="~/Student/Select" alt="Select Gamepiece">
    </map>
</body>
</html>

