

@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game PrizeTomb Page *@
    ViewBag.Title = "PrizeTomb";
}


@* Margin and Padding Style *@
<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }
</style>


@* Display The World Tour Page Title *@
<h1>Enter the Prize Tomb</h1>


@* Display Instructions The Prize Tomb *@
<h2>As a Reward for Checking In to School On-Time You Earned a Trip to the Prize Tomb</h2>


@* World Tour Prize Tomb image *@
<div class="row">
    <div class="col-sm-12, col-sm-offset-3">
        <div class="glyphicon-align-center">
            <img src="~/Content/Images/WorldTour/PrizeTomb.png" style="max-width:100%;height:auto;" alt="World Tour" usemap="#PrizeTomb">
            <map name="PrizeTomb">
                <area shape="rect" coords="120, 525, 465, 615" href="~/Student/Play" alt="Enter the Tomb">
        </div>
    </div>
</div>


