


@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game PrizeTomb Page *@
    ViewBag.Title = "PrizeTomb";
}


@* Margin and Padding Style *@
<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }
</style>


@* Display The World Tour Title *@
<h1>World Tour</h1>


@* Display The Prize Tomb *@
<h2>Prize Tomb</h2>


@* World Tour Prize Tomb image *@
<img class="img-fluid" src="~/Content/Images/PrizeTomb.png" style="max-width:100%;height:auto;" alt="World Tour">

