
@{
    ViewBag.Title = "PrizeDex";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

<h2>PrizeDex</h2>

@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Prize Index Page *@
    ViewBag.Title = "PrizeDex";
}


@* Margin and Padding Style *@
<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }
</style>


@* Display The World Tour Title *@
<h1>World Tour</h1>


@* Display The Prize Index *@
<h2>Prize Index</h2>


@* World Tour PrizeDex image *@
<img class="img-fluid" src="~/Content/Images/WorldTour/PrizeDex.png" style="max-width:100%;height:auto;" alt="World Tour">

