@model TeamProject.Models.StudentDisplayViewModel

@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Profile";
}

<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>

<body style="background-image:url('/Content/Images/student profile background.png') linear-gradient();">

    <section>
        <div class="container1">
            <img src="~/Content/Images/student profile.jpg" align="middle" width="400" height="502">
            @Html.ActionLink("Reset Password", "UpdatePassword", "Home", new { controller = "Home" }, new { @class = "btn-1" })
        </div>
    </section>
</body>

<style>
    /*body*/
    body {
        background-image: url(' /Content/Images/student profile background.png');
        background-repeat: no-repeat;
        margin-bottom: 20px;
        padding: 30px;
        margin: 30px;
    }



    /*section*/
    section {
        /*margin-top: 20px;
        margin-bottom: 10px;*/
        margin-left: 30px;
        padding: 90px;
    }

    .btn-1 img {
        width: 50%;
    }

    .container1 .btn-1 {
        position: absolute;
        top: 65%;
        left: 65%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #f8632f;
        color: white;
        font-size: 16px;
        padding: 16px 40px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

</style>
