
@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.Title = "Record";
}


<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>

<h2>Record</h2>

<section>

        <img src="~/Content/Images/record.png" align="middle" width="1000" height="550">


</section>

