
@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Select Your Game piece Page *@
    ViewBag.Title = "Select";
}


@* Margin and Padding Style *@
<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }
</style>


@* Display The World Tour Page Title *@
<h1>Select Your Building</h1>


@* Display Select Gamepiece Page *@
<h2>Pick the Building for Your Avatar on Level 1</h2>

@* Explain the Gamepiece *@
<h3>Your Building will Grow Faster the More Coins You Earn</h3>


@* World Tour Select Gamepiece image *@
<!DOCTYPE html>
<html>
<body>
    <map name="Building">
        <area shape="rect" coords="60, 340, 130, 365" href="~/Student/Play" alt="Play">
        <area shape="rect" coords="400, 340, 470, 365" href="~/Student/Play" alt="Play">
        <area shape="rect" coords="740, 340, 820, 365" href="~/Student/Play" alt="Play">
        <area shape="rect" coords="1075, 340, 1150, 365" href="~/Student/Play" alt="Play">
        <area shape="rect" coords="150, 650, 225, 675" href="~/Student/Play" alt="Play">
        <area shape="rect" coords="600, 650, 680, 675" href="~/Student/Play" alt="Play">
        <area shape="rect" coords="1020, 650, 1090, 675" href="~/Student/Play" alt="Play">
    </map>
    <img src="~/Content/Images/WorldTour/Building.png" style="max-width:100%;height:auto;" alt="World Tour" usemap="#Building">
</body>
</html>


@***<img class="img-fluid" src="~/Content/Images/WorldTour/Building.png" style="max-width:100%;height:auto;" alt="World Tour">**@

