

@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Select Your Game piece Page *@
    ViewBag.Title = "Select";
}


@* Margin and Padding Style *@
<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }
</style>


@* Display The World Tour Title *@
<h1>World Tour</h1>


@* Display Select Gamepiece Page *@
<h2>Select</h2>


@* World Tour Select Gamepiece image *@
<img class="img-fluid" src="~/Content/Images/Building.png" style="max-width:100%;height:auto;" alt="World Tour">

