
@{
    @* Using a shared layout for the Game *@
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    @* Game Select Your Game piece Page *@
    ViewBag.Title = "Select";
}

<!--title-->
<div>
    <div id="ct">
        <div class="corner " id="left_top"></div>
        <div class="corner" id="left_bottom"></div>
        <div class="corner" id="right_top"></div>
        <div class="corner" id="right_bottom"></div>
        <span>Selection</span>
        <blockquote>
            <p>
                <i>
                    &ldquo;Welcome back to shcool.
                    Please select a building you want to build in Seattle.&rdquo;
                </i>
            </p>
        </blockquote>
    </div>

</div>

<!--pictures-->
<div style="margin-top:-40px;">
    <div class="row">
        <div class="col-md-4">
            <div class="hovereffect2">
                <img class="img-responsive" src='~/Content/Images/needle.jpg' alt="space needle">
                <div class="overlay">
                    <h2>Space Needle</h2>
                    <a class="info" href="~/Student/Play">Choose</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hovereffect2">
                <img class="img-responsive" src='~/Content/Images/market.jpg' alt="pike place market">
                <div class="overlay">
                    <h2>Pike Place Market</h2>
                    <a class="info" href="~/Student/Play">Choose</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hovereffect2">
                <img class="img-responsive" src='~/Content/Images/museum2.jpg' alt="">
                <div class="overlay">
                    <h2>Museum of Pop Music</h2>
                    <a class="info" href="~/Student/Play">Choose</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <div class="hovereffect2">
            <img class="img-responsive" src='~/Content/Images/seattle2.jpg' alt="">
            <div class="overlay">
                <h2>Seattle University</h2>
                <a class="info" href="~/Student/Play">Choose</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="hovereffect2">
            <img class="img-responsive" src='~/Content/Images/university2.jpg' alt="university">
            <div class="overlay">
                <h2>University of Washington</h2>
                <a class="info" href="~/Student/Play">Choose</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="hovereffect2">
            <img class="img-responsive" src='~/Content/Images/glass2.jpg' alt="university">
            <div class="overlay">
                <h2>Glass Museum</h2>
                <a class="info" href="~/Student/Play">Choose</a>
            </div>
        </div>
    </div>
</div>





























@* Margin and Padding Style *@
@*<style type="text/css">

        body {
            padding: 30px;
            margin: 30px;
        }
    </style>*@


@* Display The World Tour Page Title *@
@*<h1>Select Your Building</h1>*@


@* Display Select Gamepiece Page *@
@*<h2>Pick the Building for Your Avatar on Level 1</h2>*@

@* Explain the Gamepiece *@
@*<h3>Your Building will Grow Faster the More Coins You Earn</h3>*@


@* World Tour Select Gamepiece image *@
@*<!DOCTYPE html>
    <html>
    <body>
        <map name="Building">
            <area shape="rect" coords="60, 340, 130, 365" href="~/Student/Play" alt="Play">
            <area shape="rect" coords="400, 340, 470, 365" href="~/Student/Play" alt="Play">
            <area shape="rect" coords="740, 340, 820, 365" href="~/Student/Play" alt="Play">
            <area shape="rect" coords="1075, 340, 1150, 365" href="~/Student/Play" alt="Play">
            <area shape="rect" coords="150, 650, 225, 675" href="~/Student/Play" alt="Play">
            <area shape="rect" coords="600, 650, 680, 675" href="~/Student/Play" alt="Play">
            <area shape="rect" coords="1020, 650, 1090, 675" href="~/Student/Play" alt="Play">
        </map>
        <img src="~/Content/Images/WorldTour/Building.png" style="max-width:100%;height:auto;" alt="World Tour" usemap="#Building">
    </body>
    </html>*@


