@{
    ViewBag.Title = "About";
}
<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
