@{
    Layout = "~/Views/Shared/_FooterLayout.cshtml";
    ViewBag.Title = "Contact";
}

<h1 style="font-family:Calibri;font-weight:bolder">&emsp;Contact</h1>

<h2 style="font-size:xx-large;font-family:Calibri;position:center;font-weight:bold;">&emsp;&emsp;U-High Team</h2>
<p style="font-size:large;font-family:Calibri;position:center;">
    &emsp;&emsp;&emsp;&emsp;Computer Science Dept. Seattle University<br />
    &emsp;&emsp;&emsp;&emsp;Graduate Student: Wonseok Seo, Yiji Wang, Victor Chimenti, Mengshan Chen, Qiaofang Deng<br />
</p>

<h2 style="font-size:xx-large;font-family:Calibri;position:center;font-weight:bold">&emsp;&emsp;Seattle University</h2>
<p style="font-size:large;font-family:Calibri;position:center;">
    &emsp;&emsp;&emsp;&emsp;901 12th Avenue, P.O. Box 222000<br />
    &emsp;&emsp;&emsp;&emsp;Seattle, WA 98122-1090<br />
    &emsp;&emsp;&emsp;&emsp;Phone: +1.206.296.6000<br />
    &emsp;&emsp;&emsp;&emsp;Toll-free: +1.800.426.7123<br />
</p>

<h2 style="font-size:xx-large;font-family:Calibri;position:center;font-weight:bold">&emsp;&emsp;Middle College High School</h2>
<h2 style="font-size:x-large;font-family:Calibri;position:center;font-weight:bold">&emsp;&emsp;&emsp;Steve Miranda</h2>
<p style="font-size:large;font-family:Calibri;position:center;margin-left:10%; margin-right:10%;">
    MCHS Humanities teacher, studied journalism at James Madison University and earned a Master’s
    degree in Teaching at Antioch University in Seattle. He has worked as a teacher and administrator in Seattle
    since 1999.
</p>
<h2 style="font-size:x-large;font-family:Calibri;position:center;font-weight:bold">&emsp;&emsp;&emsp;Lura Ercolano</h2>
<p style="font-size:large;font-family:Calibri;position:center;margin-left:10%; margin-right:10%;">
    MCHS Math/Science Teacher, knows that the traditional high school structure isn't for everyone. Lura
    earned her GED as a single mother before excelling at Mathematics and Physics at the University of Denver and
    University of Washington. Lura worked in geophysical research and energy exploration for several years before
    setting aside her career to adopt and raise children who needed a family. In 2015, Lura earned her Masters
    in Teaching Math and Science from Seattle Pacific University.
</p>