
@{
    ViewBag.Title = "ForgotPassword";
}

<style type="text/css">
    body {
        padding: 0px;
        margin: 0px;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<!DOCTYPE html>
<html>
<body>
    <img src="~/Content/Pages/Forgot Password1.png" style="width:100%;height:100%;" alt="FogotPassword" usemap="#forgot">
    <map name="forgot">
        <area shape="rect" coords="340,360,440,380" href="~/Home/Index" alt="Back">
        <area shape="rect" coords="460,345,600,380" href="~/Home/UpdatePassword" alt="Update">
    </map>
</body>
</html>