@{
    ViewBag.Title = "Home";
}


<!--titles-->
<!--including background, middle college title, the flip-->
<div class="page" style="background:linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); ">
    <img class="img2" src="~/Content/Pages/logo.png" style="display: block; margin-left:auto; margin-right:auto">
    <div>
        <h6>MIDDLE COLLEGE</h6>
    </div>

    <div id=container3>
        <br />
        Make
        <div id=flip>
            <div><div>School Life</div></div>
            <div><div>Yourself</div></div>
            <div><div>Everything</div></div>
        </div>
        AweSoMe!
    </div>

    <br />

</div>

<!--buttoms with links to different login page-->
<div class="page">
    <br />

    <div>
        <a href="~/Home/AdminLogin" class="button1" style="font-size:20px;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;">Admin</a>

        <a href="~/Home/StudentLogin" class="button1" style="font-size:20px;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;">Student</a>

        <a href="~/Home/KioskLogin" class="button1" style="font-size:20px;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:bold;">Koisk</a>
    </div>
</div>
<br />

<!--photos to make the website funny-->
<div class="row">
    <div class="col-sm-6">
        <div class="hovereffect">
            <img class="img-responsive" src="https://bit.ly/2sfr9UP" alt="" style="width: 100%;">
            <div class="overlay">
                <h2>We Study</h2>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-instagram"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="hovereffect">
            <img class="img-responsive" src="https://bit.ly/2s9dJcB" alt="" style="width: 100%;">
            <div class="overlay">
                <h2>We Play</h2>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-instagram"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="hovereffect">
            <img class="img-responsive" src="https://bit.ly/2Lx8j3b" alt="" style="width: 100%;">
            <div class="overlay">
                <h2>We Love</h2>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-instagram"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="hovereffect">
            <img class="img-responsive" src="https://bit.ly/2J6jKAJ" alt="" style="width: 100%;">
            <div class="overlay">
                <h2>We Together</h2>
                <p class="icon-links">
                    <a href="#">
                        <span class="fa fa-twitter"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a href="#">
                        <span class="fa fa-instagram"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<!--credit-->
<p style="color:lightgray; position:relative; text-align: center; margin-bottom: 20px;">U-High Team @@ Seattle University</p>
<br />
<br />

<style>
    .container {
        zoom: 150%;
    }
</style>



