
@{
    ViewBag.Title = "Help";
}
<style type="text/css">
    body {
        padding-top: 0px;
        margin: 0;
        text-align: left;
        background-color: #fff;
    }
</style>

<div class="row featurette">
    <div class="col-md-6 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="~/Content/Pages/kiosk.jpg" data-holder-rendered="true" style="width:100%;height: auto;float:left; position:relative" />
    </div>
    <div class="col-md-6 order-md-2">
        <p class="lead">
            <center>
                <form class="form-signin">
                    <div class="text-center mb-4">
                        <div><a href="~/Home/Index"><img src="~/Content/Pages/home logo.png" style="width:20%;height: auto;margin-left:10px;margin-top:50%" /></a></div>
                        <h1 class="h3 mb-3 font-weight-normal" style="font-size:15px;color:#083E52;padding:20px">KIOSK LOGIN</h1>
                    </div>
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail"></label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <label for="inputPassword"></label>
                    </div>
                    <div class="checkbox mb-4 text-center">
                        <label>
                            <input type="checkbox" value="remember-me" style="float:none"> Remember me
                        </label>
                        <a href="~/Home/ForgotPassword" style="font-size:14px;margin-left:30px">Forget Password?</a>
                    </div>
                    <a  href="~/Kiosk/Attendance" class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #F8632F;color: white;padding: 8px 15px;margin: 8px 0;border: none; border-radius: 4px;cursor: pointer;width: 60%;">LOG IN</a>
<p class="mt-5 mb-3 text-muted text-center" style="font-size:12px">&copy; U-High Team @@ Seattle University</p>
        </form>
        </center>
        </p>
    </div>

</div>








