@{
    ViewBag.Title = "UpdatePassword";
}

<style>
    body {
        /* Background image is centered vertically and horizontally at all times */
        background-position: center center;
        /* Background image doesn't tile */
        background-repeat: no-repeat;
        /* Background image is fixed in the viewport so that it doesn't move when
        the content's height is greater than the image's height */
        background-attachment: fixed;
        /* This is what makes the background image rescale based
        on the container's size */
        background-size: cover;
        /* Set a background color that will be displayed
        while the background image is loading */
        background-color: whitesmoke;
    }
</style>
<style>
    .container1 {
        position: relative;
        width: 100%;
    }

        .container1 img {
            width: 100%;
            height: auto;
        }

        .container1 .btn-1 {
            position: absolute;
            top: 83%;
            left: 72%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #083e52;
            color: white;
            font-size: 16px;
            padding: 16px 40px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }

        .container1 .btn-2 {
            position: absolute;
            top: 77.4%;
            left: 82%;
            background-color: #119A8E;
            color: white;
            font-size: 16px;
            padding: 17.5px 68px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }

        .container1 .form-control1 {
            position: absolute;
            top: 38.1%;
            left: 63.1%;
            font-size: 24px;
            padding: 12px 10px;
            max-width: 420px
        }

        .container1 .form-control2 {
            position: absolute;
            top: 58.6%;
            left: 63.1%;
            font-size: 24px;
            padding: 12px 10px;
            max-width: 420px
        }
</style>
<center>
    <div class="container1">
        <br /><br /><br /><br />
        <img src="~/Content/Pages/UpdatePWImage.png" alr="Update" />
        <input type="password" class="form-control1" size="1000" placeholder="New Password" required autofocus>
        <label for="inputPassword"></label>
        <input type="password" class="form-control2" size="10000" placeholder="Confirm Password" required autofocus>
        <label for="inputPassword"></label>
        @Html.ActionLink("BACK TO LOGIN", "AdminLogin", null, new { @class = "btn-1" })
        @Html.ActionLink("UPDATE", "AdminLogin", null, new { @class = "btn-2" })
    </div>
</center>