
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Calendar";
}

<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>
<section>
    <h1>
        Calendar
    </h1>

    <p>
        <img src="~/Content/Images/calendar.png" align="middle" width="1000" height="500">
    </p>


</section>
