
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Dashboard";
}
<style type="text/css">
    body {
        padding: 50px;
        margin: 30px;
    }
</style>
<section>

    <div>
        <left><img src="~/Content/Images/dashboard pic.png" align="middle"></left>
        <img src="~/Content/Images/dashboard pic2.png"  align="middle" width="350" height="500" style="float:right;margin-top:30px;">

    </div>
    <div>
        <img src="~/Content/Images/calendar on dashboard.png" align="middle" width="300" height="200" style="float:right;margin-right:8px">
    </div>

</section>
