
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Dashboard";
}
<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>
<h2>This is admin Dashboard.</h2>

