
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

@* CSS for the Admin Dashboard *@
<style type="text/css">
    body {
        padding: 50px;
        margin: 30px;
    }
</style>

@* Admin Dashboard *@
<section>

    <div style="margin-top:30px;">
        <left><img src="~/Content/Images/dashboard pic.png" align="middle"></left>
        <img src="~/Content/Images/dashboard pic3.png" align="middle" width="350" height="500" style="float:right;margin-top:30px;">

    </div>
    <div>
        <img src="~/Content/Images/calendar on dashboard2.png" align="middle" width="340" height="220" style="float:right;margin-right:8px;margin-top:-15px;margin-bottom:150px;">
    </div>

</section>
