
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Dashboard";
}
<style type="text/css">
    body {
        padding: 50px;
        margin: 30px;
    }
</style>
<section>

    <div>
        <left><img src="~/Content/Images/dashboard pic1.png" align="middle"></left>
        <img src="~/Content/Images/dashboard pic2.png"  align="middle" style="float:right">
    </div>
</section>
