
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Profile";
}

<style type="text/css">
    body {
        padding: 50px;
        margin: 30px;
    }
</style>

<section>

    <div>
        <Center><img src="~/Content/Images/admin profile.png" align="middle" width="850" height="550" usemap="#resetPassword"></center>
        <map name="resetPassword">
            <area shape="rect" coords="687,320,825,303" href="~/Home/UpdatePassword" alt="Home">
        </map>
    </div>
</section>
