
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Register admin";
}
<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>
<section>

    <h2>Register admin here.</h2>


</section>