
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Report";
}

<section>

    <p>
        <img src="~/Content/Pages/report.png" style="width:100%; height:100%; align-content:center">
    </p>


</section>