
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Report";
}

<section>
    <h1>
        Report
    </h1>

    <p>
        <img src="~/Content/Images/Report.png" align="middle" width="1000" height="500">
    </p>


</section>