
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Setting";
}


@* CSS for Admin Settings *@
<style type="text/css">

    body {
        padding: 30px;
        margin: 30px;
    }

</style>



<section>
    <h1>
        Settings. In this page, admin can overwrite student's attendance data.
    </h1>

    <p>
        <img src="~/Content/Images/admin setting.png" align="middle" width="1000" height="500">
    </p>


</section>

