@model TeamProject.Models.StudentViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Students";
}

<h2>This is Students page. Student list would be should here.</h2>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            @{
                if (Model.StudentList == null || !Model.StudentList.Any())
                {
                    <br />
                    <p>No Students in the System</p>
                    <br />
                }
                else
                {
                    foreach (var item in Model.StudentList)
                    {
                        <div class="col-sm-3">
                            <a id="@item.Id" href="~/Admin/Students/@item.Id">
                                <img src="~/Content/Images/@item.PictureUri" width="150" height="150" />
                                <br />
                                <span>
                                    @item.Name
                                </span>
                            </a>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>