
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Students";
}

<style type="text/css">
    body {
        padding: 30px;
        margin: 30px;
    }
</style>

<h2>Students</h2>

