@{
    ViewBag.Title = "Kiosk";
}

<style type="text/css">
    body {
        padding: 0px;
        margin: 0px;
        max-width: 100%;
        max-height: 100%;
    }
</style>

<!DOCTYPE html>
<html>
<body>
    <img src="~/Content/Pages/Kiosk.png" style="width:100%;height:100%;" alt="KioskPage" usemap="#Kiosk">
    <map name="Kiosk">
        <area shape="rect" coords="620,420,725,455" href="~/Kiosk/Attendance/" alt="Attendance">
        <area shape="rect" coords="410,440,570,460" href="~/Home/ForgotPassword" alt="ForgotPassword">
    </map>
</body>
</html>